body {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    color: #AE7C78;
    margin: 0px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Playfair Display", "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 59px;
    margin: 0px;
}

h2 {
    font-family: "Playfair Display", "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    margin: 0px;
}

h3 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0em;
    margin: 0px;
}

a.button {
    display: flex;
    width: 285px;
    height: 80px;
    background: #D89999;
    border-radius: 40px;
    font-size: 16px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

nav.main,
.intro,
.benefits,
.popular,
.catalog-preview,
.discount,
.steps,
.news,
.reviews,
.contacts .container,
.page-footer .container {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0px auto;
    /*display: grid;
    grid-template-columns: repeat(11, 1fr 20px) 1fr;*/
}

header.page-header {
    margin-top: 25px;
    height: 63px;
    box-sizing: content-box;
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
}

nav.main {
    height: inherit;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
}

nav.main .logo {
    grid-column: 2;
    justify-self: center;
}

nav.main ul {
    display: flex;
    justify-content: space-between;
}

nav.main ul:first-of-type {
    grid-column: 1;
}

nav.main ul:last-of-type {
    grid-column: 3;
}

.intro {
    margin-top: 82px;
    height: 462px;
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
}

.intro .info {
    margin-top: 0px;
    grid-column: 1;
    align-self: flex-start;
}

.intro p {
    font-size: 24px;
    line-height: 29px;
}

.intro .button {
    margin-top: 64px;
}

.intro img {
    border-radius: 10px;
}

.intro img:first-of-type {
    grid-column: 3;
    align-self: flex-end;
}

.intro img:last-of-type {
    grid-column: 5;
    align-self: flex-start;
}

.benefits {
    margin-top: 48px;
    height: 108px;
}

.benefits dl {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    margin: 0px;
}

.benefits dl div {
    background-repeat: no-repeat;
}

.benefits dl .delivery {
    background-image: url("./img/delivery.svg");
    grid-column: 1;
}

.benefits dl .fresh {
    background-image: url("./img/bouquet.svg");
    grid-column: 3;
}

.benefits dl .photo {
    background-image: url("./img/camera.svg");
    grid-column: 5;
}

.benefits dl dt {
    margin-left: 100px;
    font-weight: 500;
}

.benefits dl dd {
    margin-top: 8px;
    margin-left: 100px;
}

.popular {
    height: 560px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(11, 1fr 20px) 1fr;
    justify-items: stretch;
}

.popular h2 {
    grid-column: 9/-9;
    text-align: left;
    padding-left: 14px;
}

.popular .slider {
    grid-column: 5/-5;
    margin-top: 33px;
}

.popular .slider-item {
    display: flex;
    text-align: left;
}

.popular .slider-item-description * {
    margin: 0px;
}

.popular .slider-item-description h3 {
    margin-top: 27px;
}

.popular .slider-item-description .description {
    margin-top: 21px;
}

.popular .slider-item-description .size {
    margin-top: 24px;
}

.popular .slider-item-description .price {
    font-weight: 500;
    font-size: 24px;
    margin-top: 28px;
}

.popular .slider-item-description .button {
    margin-top: 68px;
    margin-left: 1px;
}

.popular .slider-controls {
    text-align: center;
}

.popular .slider-controls button {
    width: 51px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: 11px 8px 0px;
    padding: 0px;
}

.popular .slider-controls button.back {
    background-image: url("./img/arrow-left.svg");
}

.popular .slider-controls button.next {
    background-image: url("./img/arrow-right.svg");
}

.catalog-preview {
    margin-top: 66px;
}

.catalog-preview ul {
    display: flex;
    justify-content: space-between;
}

.catalog-preview li {
    width: 387px;
    height: 442px;
    border-radius: 10px;
}

.catalog-preview li a {
    height: 100%;
    border-radius: 10px;
    background-color: rgba(174, 124, 120, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

.catalog-preview li a p {
    margin: 8px 0px 0px;
}

.catalog-preview li.wedding {
    background-image: url("./files/4.jpg");
}

.catalog-preview li.peonies {
    background-image: url("./files/5.jpg");
}

.catalog-preview li.choose {
    background-image: url("./files/6.jpg");
}

.discount {
    background: #AE7C78;
    color: #FFFFFF;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(11, 1fr 20px) 1fr;
    grid-template-rows: 40px 118px 24px 145px 64px;
}

.discount h2 {
    grid-column: 3/12;
    grid-row: 2;
    font-weight: 400;
    font-size: 44px;
    line-height: 59px;
}

.discount p {
    grid-column: 3/10;
    grid-row: 4;
    font-size: 24px;
    line-height: 29px;
    margin: 0px;
}

.discount img {
    grid-column: 13/-1;
    grid-row: 1/-1;
}

.steps {
    margin-top: 80px;
    text-align: center;
}

.steps ul {
    margin-top: 36px;
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
}

.steps li {
    display: grid;
    grid-template-rows: 52px 36px 60px;
    background-repeat: no-repeat;
    background-position: top center;
}

.steps li.order {
    background-image: url("./img/order.svg");
    grid-column: 1;
}

.steps li.details {
    background-image: url("./img/manager.svg");
    grid-column: 3;
}

.steps li.pay {
    background-image: url("./img/bill.svg");
    grid-column: 5;
}

.steps li.delivery {
    background-image: url("./img/delivery.svg");
    grid-column: 7;
}

.steps li h3 {
    font-weight: 500;
    font-size: 16px;
    grid-row: 2;
    margin-top: 5px;
}

.steps li p {
    grid-row: 3;
    margin: 0px;
    margin-top: 2px;
}

.news {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(11, 1fr 20px) 1fr;
    grid-template-rows: 70px 96px 40px 14px 20px 53px 40px 20px 107px;
}

.news h2 {
    grid-column: 1/9;
    grid-row: 2;
}

.news p {
    grid-column: 1/8;
    grid-row: 4/7;
    margin: 0px;
    font-size: 24px;
    line-height: 29px;
}

.news .follow-us {
    grid-column: 1/3;
    grid-row: 8;
    height: 100%;
}

.news a:nth-of-type(1) {
    grid-column: -9/-14;
    grid-row: 1/4;
}

.news a:nth-of-type(2) {
    grid-column: -9/-14;
    grid-row: 6/-1;
}

.news a:nth-of-type(3) {
    grid-column: -1/-8;
    grid-row: 1/-1;
}

.follow-us {
    height: 20px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.follow-us li {
    display: inline-block;
    height: 20px;
    width: 30px;
    background-repeat: no-repeat;
}

.follow-us li.instagram {
    background-image: url("./img/icon_instagram.svg");
}

.follow-us li.facebook {
    background-image: url("./img/icon_facebook.svg");
}

.follow-us li.twitter {
    background-image: url("./img/icon_twitter.svg");
}

.reviews {
    margin-top: 80px;
    height: 308px;
    border: 1px solid #AE7C78;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 40px 48px 40px 116px 64px;
    text-align: center;
}

.reviews h2 {
    grid-column: 3;
    grid-row: 2;
}

.reviews blockquote {
    margin: 0px;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews blockquote:nth-of-type(1) {
    grid-column: 1;
}

.reviews blockquote:nth-of-type(2) {
    grid-column: 3;
}

.reviews blockquote:nth-of-type(3) {
    grid-column: 5;
}

.reviews blockquote p {
    margin: 0px;
}

.reviews blockquote cite {
    font-style: inherit;
}

.contacts {
    margin-top: 80px;
    width: 100%;
    height: 644px;
    background-image: url("./files/map.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.contacts .container {
    height: 100%;
    box-sizing: border-box;
    padding-top: 52px;
    padding-left: 102px;
}

.contacts .info {
    width: 316px;
    height: 445px;
    background-color: #F7FAFC;
    border-radius: 12px;
    padding: 35px;
    padding-top: 40px;
    box-sizing: content-box;
}

.contacts .info h2 {
    letter-spacing: 0px;
    margin-top: 0px;
    margin-bottom: 40px;
}

.contacts .info dt {
    margin-top: 30px;
}

.contacts .info dd {
    font-weight: 500;
    margin-left: 0px;
    margin-top: 17px;
}

.page-footer {
    height: 97px;
    background: #AE7C78;
    color: white;
}

.page-footer .container {
    padding-top: 26px;
    height: 33px;
    display: flex;
    align-items: center;
}

.page-footer .logo {
    margin-left: 5px;
}

.page-footer .nav {
    margin-left: 104px;
    margin-right: 94px;
    height: 20px;
}

.page-footer .nav li {
    display: inline-block;
    margin-right: 65px;
}

.page-footer .nav li:last-of-type {
    margin-right: 0px;
}

.page-footer .follow-us {
    color: white;
}

.follow-us.white li.instagram {
    background-image: url("./img/icon_instagram_white.svg");
}

.follow-us.white li.facebook {
    background-image: url("./img/icon_facebook_white.svg");
}

.follow-us.white li.twitter {
    background-image: url("./img/icon_twitter_white.svg");
}